@import url(https://fonts.googleapis.com/css2?family=M+PLUS+1p);
    
.body{
    width: 100%;
}
.up{
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
}
.title{
    color: whitesmoke;
    margin-left: 1%;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 30px;
}
.main{
    margin: 5px;
    font-family: 'M PLUS 1p';
    font-size: 15px;
    transform: rotate(0.05deg);
}
.top{
    font-size: 20px;
}